[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
"boto3" = "*"
botocore = "*"
chameleon = "*"
docutils = "*"
IPy = "*"
jmespath = "*"
Mako = "*"
MarkupSafe = "*"
Paste = "*"
PasteDeploy = "*"
Pygments = "*"
"pyramid_chameleon" = "*"
"pyramid_debugtoolbar" = "*"
"pyramid_mako" = "*"
"pyramid_tm" = "*"
pyramid = "*"
"python-dateutil" = "*"
pytz = "*"
"repoze.lru" = "*"
"request-id" = "*"
requests = "*"
transaction = "*"
translationstring = "*"
venusian = "*"
waitress = "*"
WebOb = "*"
"zope.deprecation" = "*"
"zope.interface" = "*"
to-precision = {git = "https://bitbucket.org/william_rusnack/to-precision.git"}

[dev-packages]
"autopep8" = "*"
"flake8" = "*"
"importmagic" = "*"
"mock" = "*"
"pytest" = "*"
"pytest-cov" = "*"
"pytest-mock" = "*"
"rope_py3k" = "*"
"yapf" = "*"
